* {
    margin: 0;
}

body {
    background-image: url(./img/paisagem-da-arvore-e-da-montanha-3d-no-nascer-do-sol.jpg); 
    background-size: cover;
}

.imagem {
    display: flex;
    justify-content: center;
}

img {
    width: 250px;
}

.conteudo {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 20px;
}

.conteudo input {
    margin-top: 20px;
    padding: 10px 80px 10px 80px;
    border-radius: 4px;
    border: none;
}

.conteudo button {
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-left: 2px;
}

.rodape {
    background-color: #333333;
    margin-top: 78px;
    height: 190px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rodape p {
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 13px;
}

a {
    color: white;
}

.link {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}

span {
    padding: 0px 5px;
}

.paragrafo {
    color: white;
    text-align: center;
    margin-top: 75px;
    font-family: Roboto, 'Roboto';
    font-size: 14px;
}

.icones {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.icones img {
    width: 30px;
    padding: 8px;
    color: white;
}

button {
    background-color: rgb(68, 67, 74);
    color: white;
    font-weight: bold;
    font-family: Roboto, sans;
    font-style: italic;
    font-size: 13px;
}

button:hover {
    background-color: white;
    color: rgb(68, 67, 74);
}